@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f3f4f6; /* gray-100 */
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #0f172a; /* slate-900 */
    color: #e2e8f0; /* slate-200 */
  }
}
